{% extends "base.html" %}
{% load static %}



{% block content %}




<div class="container pb-5 mt-n2 mt-md-n3">
    <!-- Display Messages -->
    <div class="row">
        <div class="col-xl-9 col-md-8">
            <h2 class="h6 d-flex flex-wrap justify-content-between align-items-center px-4 py-3 bg-light">
                <span>Products</span><a class="font-size-sm" href=" {% url 'products'%}">
                    <i class="bi bi-arrow-left-short"></i>
                    Continue shopping</a>
            </h2>
            <!-- Item-->
            {% if cart_items|length > 0%}
            {% for cart_item in cart_items %}
            <div class="d-sm-flex justify-content-between my-4 pb-4 border-bottom">
                <div class="media d-block d-sm-flex text-center text-sm-left">
                    <a class="cart-item-thumb mx-auto mr-sm-4" href="#"><img src="{{ cart_item.item.image }}"
                            alt="Product"></a>
                    <div class="media-body pt-3">
                        <h3 class="product-card-title text-center font-weight-semibold border-0 pb-0"><a href="#">
                                {{ cart_item.item.name }}</a></h3>
                        <div class="font-size-lg text-primary pt-2">${{ cart_item.item.price }}</div>
                    </div>
                </div>
                <div class="pt-2 pt-sm-0 pl-sm-3 mx-auto mx-sm-0 text-center text-sm-left" style="max-width: 10rem;">
                    <form action="{% url 'adjust_quantity' cart_item.item.pk %}" class="form" method="POST">
                        {% csrf_token %}
                        <div class="form-group mb-2">
                            <label for="quantity_{{ cart_item.item.pk }}">Quantity</label>
                            <input class="form-control form-control-sm" type="number" name="quantity_{{ cart_item.item.pk }}"
                                id="quantity_{{ cart_item.item.pk }}" value="{{ cart_item.quantity }}">
                        </div>
                        <button class="btn btn-outline-secondary btn-sm w-100 mb-2" type="submit">
                            Update cart
                            <i class="bi bi-arrow-repeat"></i>
                        </button>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </form>
                    <form action="{% url 'remove_from_cart' cart_item.item.pk %}" class="form" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-outline-danger btn-sm  w-100 mb-2" type="submit">
                            Remove
                            <i class="bi bi-trash3"></i>
                        </button>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </form>
                </div>
            </div>

            {% endfor %}
            
        </div>
        <!-- Sidebar-->
        <div class="col-xl-3 col-md-4 pt-3 pt-md-0">
            <h2 class="h6 px-4 py-3 bg-light text-center">Subtotal</h2>
            <div class="h4 font-weight-semibold text-center py-3">{{ subtotal }}</div>
            <hr>
            <a class="btn btn-primary btn-block w-100" href="{% url 'checkout'%}">
                Proceed to Checkout
                <i class="bi bi-credit-card-2-back"></i>
            </a>
        </div>
        {% else %}
        <h4>Your cart is empty. </h4>
        <p>Please use the serach bar or menu to find what you are looking for.</p>
    </div>
    {% endif %}
</div>

{% endblock %}