{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col" style="background-color:white">
            <form action="{% url 'update_product_detail'  item.pk %}" method="POST" class="form">
                {% csrf_token %}

                {% bootstrap_form form layout='floating' %}

                <button class="btn bg-medium  btn-lg w-100 mb-1 mt-1" id="submitBtn" type="submit">Save</button>
                <a type="button" class="btn bg-accent btn-lg w-100 mb-1 mt-1" href="{% url 'product_detail' item.pk %}">Cancel</a>

            </form>
        </div>

    </div>
</div>


{% endblock %}