{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid col-sm-12 col-lg-6 offset-lg-3 mt-3 mb-3">
    <h1>Open Purchase</h1>

    <p>For items from El-mania's regular range, El-mania accepts returns against a full refund of the amount you
        paid for the item for up to 60 days after the invoice date. To invoke open purchase, the product must not be
        opened, used or destroyed.</p>

    <h2>Complaint</h2>

    <p>You should examine all items carefully upon receipt to make sure that they are flawless and working properly, and
        that they have the expected properties.</p>

    <p>If you wish to make a valid error in the ordered item, you must contact El-mania within a reasonable time from
        when the error was discovered, or should have been discovered. Complaints may not be made later than 1 year
        after receipt of an item.</p>

    <p>A complaint is made via my phone / mail or using contact form on website, where you specifify your order number,
        date and problem. </p>

    <p>When the product has been returned and the complaint approved, El-mania compensates you in accordance with the
        rules in the Consumer Purchase Act (1990: 932) by repairing an existing product, by a new equivalent product or
        by returning your payment for the product. Refunds will be made as soon as possible and
        no later than within 14 days of El-mania receiving the item from you and stating that you had the right to
        complain about your purchase.</p>

    <h2>Return</h2>

    <p>Returns (due to exercise of the right of withdrawal, due to a complaint or open purchase) should be returned in
        original packaging or in other packaging suitable for the product, and well packed in outer packaging approved
        by PostNord (eg brown corrugated cardboard). Goods delivered on pallets (LCD TVs, Plasma TVs and the like) must,
        if returned, be loaded on pallets to avoid damaging the goods during transport. Any transport damage as a result
        of defective packaging will be charged to you as a customer.</p>

    <p>When exercising the right of withdrawal, open purchase and complaint, you bear the cost of return and you are
        responsible for the product until it has reached El-mania. In the event of an approved complaint, however,
        you will receive compensation for shipping costs.</p>

    <h2>Warranty</h2>

    <p>The warranty period differs between different products, which is specified in the product information for each
        product. Warranty cases are handled differently depending on the nature of the product. In some cases, warranty
        matters are handled by the manufacturer or by an authorized workshop. In other cases, warranty matters are
        handled by El-mania directly. Feel free to contact us for information about the warranty routines around the
        product you are interested in before buying if you are unsure.</p>
</div>

{% endblock %}