{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid col-sm-12 col-lg-6 offset-lg-3 mt-3 mb-3">
    <h1>General Terms and Conditions of Sale</h1>

    <p>Our terms apply from 01.04.2020 and replace all previous terms of sale published by El-mania.
        For corporate customers, the General Terms of Sale for Product Delivery - Companies apply.</p>

    <h2>Product information</h2>

    <p>The products presented on El-mania's website constitute El-mania's regular range.
        In the event of any difference between the terms, product information or prices stated on
        El-mania's website and in other publications, the information on the website takes precedence.</p>

    <p>General information about the products on El-mania's website
        (including information about a product's property and function) is provided on each product page.
        El-mania refers to the product manual, alternatively to the respective manufacturer for more information.
    </p>

    <p>
        Current prices for products are provided on El-mania's website, which is updated in real time.
        Prices are stated in USD and include VAT.
    </p>

    <p>
        El-mania reserves the right to change the quoted prices without prior notice.
        Between El-mania and the customer, the agreed price applies unless otherwise specifically agreed.
    </p>

    <h2>Payment terms</h2>

    <p>
        As a customer, you are aware of and accept that the execution of a purchase on El-mania's website entails a
        payment responsibility.
        Payment can be made by card or direct payment via internet banking.
    </p>

    <p>
        You have the opportunity to change your order free of charge until the package is dispatched at El-mania, ie.
        until you receive an order confirmation.
    </p>

    <h2>Delivery</h2>
    <p>An order for a product that is in stock that is received before 16.00 on a weekday is usually dispatched the same
        day.
        Delivery time stated to 1-2 days in the online store means that El-mania can normally send the item within 2
        days after ordering. </p>
    <p>If a delivery is delayed, El-mania will notify you by notifying the e-mail address you provided. Information
        is also provided about new delivery times.</p>

    <p>
        Your order is delivered to the nearest delivery point if the package weighs less than 20 kg. Packages weighing
        between 20-35 kg are left at the post terminal or haulier. Goods weighing more than 35 kg are left at
        the heavy goods terminal.
        Note that goods can not be picked up at El-mania. Orders from El-mania can also not be delivered in part.
        If you live along the rural letter carrier line, you can not order goods with Hempaket.
    </p>

    <h2>Right of withdrawal</h2>
    <p>When buying goods from El-mania, you as a consumer have, in the manner specified by law (2005: 59) on distance
        contracts and contracts outside business premises, in certain cases the right to withdraw from a purchase (right
        of withdrawal).</p>
    <p>This means that you have the right to cancel your purchase by leaving or sending a notice to El-mania within
        14 days from the day you received the ordered item (the withdrawal period). </p>
    <p>When exercising the right of withdrawal, the product must be returned to El-mania within 14 days of
        notification of the exercise of the right of withdrawal being submitted to El-mania.
    </p>
    <p>The amount you paid for the item, including the original shipping cost, will be refunded within 14 days of
        receipt of your notice of exercise of the right of withdrawal, provided that El-mania has received the item
        back within this time, or a receipt that the item has been returned. Repayment may be made in another way than
        in the manner in which the payment was made.</p>
    <p>You have the right to examine the product to the extent required to determine the product's properties or
        function. However, you may be liable to replace El-mania for the depreciation of the product if the product
        has been used or handled to a greater extent than was necessary to determine its properties or function. Such a
        price deduction can amount to the total price of the product.</p>


</div>

{% endblock %}