@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins:wght@200&family=Roboto:wght@100;300&display=swap');

/* General settings*/
body {
    background-color: rgb(242, 242, 242);
}


/* Navigation */
.nav-icon {
    width: 35px;
    height: auto;
}

a {
    text-decoration: none
}

i {
    font-style: normal;
    text-decoration: none;
}

/* Cards */
.offers-img-cards {

    width: 160px;
    height: 150px;
}


.card {
    position: relative;
}

.price-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #ff5a5a;
    font-size: 0.75em;
    color: white;
    transform: rotate(-25deg);
}

.h3 {
    text-decoration: line-through;
}

.h2 {
    color: #ff5a5a;
}

.bg-dark-1{
    background-color: #227C9D;
}

.bg-dark-2{
    background-color: #17C3B2;
}

.bg-dark-3 {
    background-color: #5e638b;
}

.bg-medium {
    background-color: #FFCB77;
}

.bg-accent {
    background-color: #FE6D73;
}



.color-accent {
    color:#FE6D73;
}

.bg-light-1 {
    background-color:#FEF9EF;
}

nav .navbar-nav li a{
    color: black !important;
    }

nav .nav-link li a{
    color: black !important;
    }

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/* Shopping cart page */

body{margin-top:20px;}
.cart-item-thumb {
    display: block;
    width: 10rem
} 

.cart-item-thumb>img {
    display: block;
    width: 100%
}

.product-card-title>a {
    color: #222;
}

.font-weight-semibold {
    font-weight: 600 !important;
}

.product-card-title {
    display: block;
    margin-bottom: .75rem;
    padding-bottom: .875rem;
    border-bottom: 1px dashed #e2e2e2;
    font-size: 1rem;
    font-weight: normal;
}


.accordion .accordion-heading {
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: bold;
}
.font-weight-semibold {
    font-weight: 600 !important;
}

/* Mailchimp */

#mc_embed_signup {
    /* background: #fff; */
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
  }
