@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins:wght@200&family=Roboto:wght@100;300&display=swap');

/* General settings*/
body {
    background-color: rgb(207, 202, 202);
}


/* Navigation */
.nav-icon {
    width: 35px;
    height: auto;
}

a {
    text-decoration: none
}

/* Cards */
.offers-img-cards {

    width: 160px;
    max-height: 150px;
}


.card {
    position: relative;
}

.price-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    /* padding:5px; */
    background: #ff5a5a;
    font-size: 0.75em;
    color: white;
    transform: rotate(-25deg);
}

.h3 {
    text-decoration: line-through;
}

.h2 {
    color: #ff5a5a;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

Shopping cart page

body{margin-top:20px;}
.cart-item-thumb {
    display: block;
    width: 10rem
} 

.cart-item-thumb>img {
    display: block;
    width: 100%
}

.product-card-title>a {
    color: #222;
}

.font-weight-semibold {
    font-weight: 600 !important;
}

.product-card-title {
    display: block;
    margin-bottom: .75rem;
    padding-bottom: .875rem;
    border-bottom: 1px dashed #e2e2e2;
    font-size: 1rem;
    font-weight: normal;
}

.text-muted {
    color: #888 !important;
}

.bg-secondary {
    background-color: #f7f7f7 !important;
}

.accordion .accordion-heading {
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: bold;
}
.font-weight-semibold {
    font-weight: 600 !important;
}
