body { 
    background-color: rgb(207, 202, 202);
}
.nav-icon {
    width: 35px;
    height: auto;
}

a {
    text-decoration: none
}

.offers-img-cards {
    
    width: 160px;
    /* height: auto; */
    max-height: 150px;
}

.h3 {
    text-decoration: line-through;
}

.h2 {
    color: #ff5a5a;  
}

.card {
    position:relative;
  }

.price-badge {
    position:absolute;
    top:10px;
    left:10px;
    /* padding:5px; */
    background:#ff5a5a;
    font-size: 0.75em;
    color:white;
    transform:rotate(-25deg);
  }