<div class="row">
  <nav
    class="navbar col-sm-12 d-flex justify-content-between align-items-center navbar-expand-lg navbar-dark bg-secondary">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto w-100 justify-content-between align-items-center">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'products'%}">Products</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="#"> Cell Phones <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tv & Home Theater</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Computer & Tablets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Video Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Household</a>
        </li>
      </ul>
    </div>
  </nav>
</div>