<div class="row d-lg-none d-lg-block">
    <div class="col-12 p-0 b-0" id="mobile-searchbar">
        <form class="form" method="GET" action="{% url 'products' %}">
            <div class="input-group w-100">
                <input class="form-control border border-black rounded-0" type="text" name="q"
                    placeholder="Search our site">
                <div class="input-group-append">
                    <button class="form-control form-control btn bg-light-1 rounded-end" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>