{% extends "base.html" %}

{% load django_bootstrap5 %}

{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row col-sm-12 col-lg-6 offset-lg-3 mt-5">
    <h1>{% trans "Sign In" %}</h1>

    <p class="mb-3">{% blocktrans %}Welcome back to El-mania. Please log in. If you do not have an account, please
      <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>

    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {% bootstrap_form form layout='floating' %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="btn bg-dark-2 w-100 btn-lg" value="Submit" type="submit">{% trans "Sign In" %}</button>
    </form>
  </div>
</div>

{% endblock %}