{% extends "base.html" %}

{% load django_bootstrap5 %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row col-sm-12 col-lg-6 offset-lg-3 mt-5">
        <h1>{% trans "Change Password" %}</h1>

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}

            {% bootstrap_form form layout='floating' %}

            <button class="btn bg-dark-2 w-100 btn-lg" type="submit" name="action">{% trans "Change Password" %}</button>
            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </form>
    </div>
</div>

{% endblock %}