{% load static %}

{% load django_bootstrap5 %}

<!doctype html>
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description"
    content="Buy electronics online at the best prices in Sweden. El-mania offers a huge range of electronic products such as TVs, laptops, cameras, video games, and much more.">
  <meta name="keywords" content="electronics, appliances, sweden, stockholm, homedelivery">
  <meta name="theme-color" content="#227C9D">


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

  <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7_dtp.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  {% block extra_js %}
  {% endblock %}

  <title>El-mania {% block extra_title %}{% endblock %}</title>
</head>

<body class="d-flex flex-column min-vh-100 mt-0">
  <!--Header-->
  <div class="row bg-dark text-center p-0 m-0">
    <div class="col col-sm-12 col-lg-6 text-light offset-lg-3 p-0 ">
        <h5 class="my-1">Free delivery on orders over $100!</h5>
    </div>
</div>

  <header class="container-fluid">
    <div class="row">
      <div class="col-sm-12 d-flex flex-wrap justify-content-center align-items-center bg-dark-1 p-0">

        <div class="col-lg-2 d-flex justify-content-center text-dark">
          <a href="{% url 'home' %}" class="nav-link">
            <h2 class="text-light">El-mania</h2>
          </a>
        </div>

        <div class="col-lg-7 d-none d-lg-block ">
          <form method="GET" action="{% url 'products' %}">
            <div class="input-group w-100 rounded">
              <input class="form-control rounded-start" type="text" name="q"
                value="{% if request.GET.q %}{{ request.GET.q }}{% endif %}" placeholder="Search by name or category">
                <button class="btn bg-light-1 rounded-end" type="submit">
                  <i class="bi bi-search"></i>
                </button>
            </div>
          </form>
        </div>

        <nav class=" col-lg-3 justify-content-lg-between bg-dark-1">
          <ul class="list-group justify-content-lg-end d-flex flex-row me-auto">
            {% if user.is_authenticated %}
            <li class="list-group-item bg-transparent border-0">
              <a class="btn bg-light-1 {% if user.is_superuser %} d-none {% endif %} position-relative" href="{% url 'profile' %}">
                <i class="bi bi-person fs-6"> | Profile</i>
              </a>
            </li>
            {% if user.is_superuser %}
            <li class="list-group-item bg-transparent border-0 ps-1 pe-1 ps-xl-3 pe-xl-3">
              <a class="btn bg-light-1 position-relative" href="/admin">
                <i class="bi bi-person fs-6"> | Admin</i>
              </a>
            </li>
            {% endif %}
            <li class="list-group-item bg-transparent border-0 ps-1 pe-1 ps-xl-3 pe-xl-3">
              <a role="button" class="btn bg-light-1 position-relative" href="{% url 'account_logout' %}">
                <i class="bi bi-box-arrow-left fs-6"> | Logout</i>
              </a>
            </li>
            {% else %}
            <li class="list-group-item bg-transparent border-0 ps-1 pe-1 ps-xl-3 pe-xl-3">
              <a role="button" class="btn bg-light-1 position-relative" href="{% url 'account_login' %}">
                <i class="bi bi-box-arrow-right fs-6">| Login</i>
              </a>
            </li>
            {% endif %}
            <li class="list-group-item  bg-transparent border-0 ps-1 pe-1 ps-xl-3 pe-xl-3">
              <a role="button" class="btn bg-light-1 position-relative" href="{% url 'cart_view' %}">
                <i class="bi bi-cart4 fs-6"> | Cart</i>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                  {% if request.session.bag.product_count %}
                  {{ request.session.bag.product_count }}
                  {% else %}
                  0
                  {% endif %}
                  <span class="visually-hidden">unread messages</span>
                </span>
              </a>
          </ul>
        </nav>
      </div>
    </div>


    {% include 'includes/mobile-header.html' %}
    {% include 'includes/main-nav.html' %}



  </header>

  <!-- Display Messages -->
  {% if messages %}
  {% for message in messages %}

  <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}


  {% block content %}
  {% endblock %}

  <!-- Footer -->
  <footer class="mt-auto text-center text-dark col-sm-12 p-0 text-lg-start">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between bg-medium p-4 border-bottom">
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <div>
        <a href="https://www.facebook.com/El-mania-101166735928577" class="me-4 text-reset">
          <i class="bi bi-facebook"></i>
        </a>
        <a href="https://www.twitter.com/" class="me-4 text-reset">
          <i class="bi bi-twitter"></i>
        </a>
        <a href="https://www.youtube.com/" class="me-4 text-reset">
          <i class="bi bi-youtube"></i>
        </a>
        <a href="https://www.linkedin.com/" class="me-4 text-reset">
          <i class="bi bi-linkedin"></i>
        </a>
      </div>
    </section>

    <section class="bg-dark-1 text-light">
      <div class="container text-center text-md-start pt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              El-mania
            </h6>

            <!-- Begin Mailchimp Signup Form -->
            <div id="mc_embed_signup">
              <form
                action="https://herokuapp.us10.list-manage.com/subscribe/post?u=8f89bfcfc4fb461a3c8360609&amp;id=9e54c1306f"
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                  <h6>Subscribe to our newsletter</h6>
                  <div class="mc-field-group">
                    <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                    </label>
                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                  </div>
                  <div id="mce-responses" class="clear foot">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>

                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                      name="b_8f89bfcfc4fb461a3c8360609_9e54c1306f" tabindex="-1" value=""></div>
                  <div class="optionalParent">
                    <div class="w-100">
                      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn bg-light-1 btn-sm m-0">

                    </div>
                  </div>
                </div>
              </form>
            </div>

            <!--End mc_embed_signup-->
          </div>


          <!-- Useful links -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="{% url 'terms_of_sale' %}" class="text-reset">Terms of sale</a>
            </p>
            <p>
              <a href="{% url 'open_purchase' %}" class="text-reset">Open purchase</a>
            </p>
            <p>
              <a href="{% url 'privacy_policy' %}" class="text-reset">Privacy policy</a>
            </p>

          </div>


          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <p><i class="bi bi-geo-alt-fill"></i> Stockholm, Sweden</p>
            <p>
              <i class="bi bi-envelope-fill"></i>
              info@elmania.com
            </p>
            <p><i class="bi bi-telephone-fill"></i> + 07 33 32 85 60</p>
            <p><i class="bi bi-printer-fill"></i> + 07 33 32 85 61</p>
            <p>
              <a  href="{% url 'contact' %}" class="btn bg-light-1 text-dark btn-sm" role="button">Drop us a message</a>

            </p>
          </div>
        </div>
      </div>
    </section>


    <!-- Copyright -->
    <div class="text-center text-light bg-dark-3 p-4 ">
      © 2022 Copyright:
      <a class="text-reset fw-bold" href="{% url 'home' %}">El-mania</a>
    </div>

  </footer>


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
  </script>

  <!-- Mailchimp Scripts -->
  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
  <script type='text/javascript'>
    (function ($) {
      window.fnames = new Array();
      window.ftypes = new Array();
      fnames[0] = 'EMAIL';
      ftypes[0] = 'email';
      fnames[1] = 'FNAME';
      ftypes[1] = 'text';
      fnames[2] = 'LNAME';
      ftypes[2] = 'text';
      fnames[3] = 'ADDRESS';
      ftypes[3] = 'address';
      fnames[4] = 'PHONE';
      ftypes[4] = 'phone';
      fnames[5] = 'BIRTHDAY';
      ftypes[5] = 'birthday';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
  </script>
</body>

</html>